
body {
    margin: 0;
}

model-viewer {
    width: 100%;
    height: 100%;
}

#buttonholder {
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;

}

.model-btn {
    background-color: #c3f6f3;
    border: 1px solid #81cfdc;
    border-radius: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    font-family: 'Kiwi Maru', serif;
    font-size: 90%;
    color: #3d749b;
}

Button:focus {
    outline: none;
}

.model-btn:active {
    background-color: #81cfdc;
}

.Hotspot {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 32px;
    border: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    padding: 8px;
    position: relative;
    transition: opacity 0.3s ease 0s;
    width: 24px;
}
.HotspotAnnotation {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    font-family: Futura, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
}

.HotspotAnnotation:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}


#ar-button {
    background-image: url(ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 132px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}

#ar-button:active {
    background-color: #E8EAED;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}

@keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
}

model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
}